/*IE Browser*/


.p_bg {
	color:red;
	transition:color 0.5s;
	-webkit-transition:color 0.5s;
	-moz-transition:color 0.5s;
	-o-transition:color 0.5s;
	background-image:url(../img/text_mask.png);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}