/* Common */

html, body, a { cursor:none; }

span#cursor { z-index:1000000; position:absolute;
			margin-top:0px; margin-left:0px;
			width:15px; height:15px; border-radius:50px; 
			background-color:orange; opacity:1; }

img { width:100%; height:100%; }
.box {	position:relative; top:50%; left:50%; 
		width:393px; height:700px; overflow:hidden;
		margin-top:-350px; margin-left:-196px;
		background-color:#ccc; box-shadow:5px 5px 50px #ddd; } 


#img_test { z-index:10; position:absolute; width:100%; height:100%; opacity:1; }

#att_test { z-index:100; position:absolute; top:0; left:0;
			width:100%; height:100%;
			/*border:1px solid #ddd;*/ }

.top { width:100%; height:79px; /*background-color:red; opacity:0.5;*/ }
#top_wrap { position:absolute; top:30px; left:10px;
			width:373px; height:35px;
			/*border:1px solid #fff;*/ }

span#top_left a { display:block; float:left; 
				width:40px; height:100%; /*background-color:#fff;*/ }
span#top_logo a { display:block; float:left; margin-left:85px; 
				width:125px; height:100%; /*background-color:blue;*/ }
span#top_right a { display:block; float:right;
				width:40px; height:100%; /*background-color:#fff;*/ }

.contents { position:relative; width:100%; height:621px; overflow:hidden; 
			/*background-color:red; opacity:0.5;*/ }



/* Menu */
.menu_wrap { z-index:1; position:absolute; width:100%; height:100%;
			/*background-color:orange; opacity:0.25;*/ }
#menu_dim { opacity:0; position:absolute; width:100%; height:100%;
			background-color:#251f24; }
#menu_bar { position:absolute; top:0; right:-256px;
			width:256px; height:100%; }

span#menu_close a { display:block; position:absolute; top:30px; right:10px;
				width:35px; height:35px; 
				/*border:1px solid red;*/ }

ul.menu { position:absolute; top:260px; left:0; width:100%; }
ul.menu li a { display:block; width:75%; height:55px;
			/*border:1px solid red;*/ }
span#menu_02 a { margin-bottom:15px; }




/* Main */
span#btn_ver_02 a { display:block; position:absolute; top:35px; 
					width:75%; height:200px;
					/*border:1px solid #fff;*/ }
span#small_btn a { display:block; position:absolute; top:245px; right:25px; 
				width:80px; height:20px;
				/*border:1px solid #fff;*/ }
ul.nav { position:absolute; top:45px; right:22px; 
		width:25px; height:50px;  
		/*border:1px solid #fff;*/ }

ul.nav li a { display:block; width:100%; height:25px; }
span#nav_01 a { /*background-color:blue;*/ }
span#nav_02 a { /*background-color:green;*/ }

ul.img_box { position:absolute; top:300px; left:27px; 
		width:1000px; height:275px;
		/*background-color:blue;*/ }

ul.img_box li { float:left; width:190px; height:100%; margin-right:30px; }
ul.img_box li a { display:block; width:190px; height:100%;
				/*background-color:green;*/ }
#img_03 a { margin-left:150px; /*background-color:pink;*/ }



#pop a { display:block; position:absolute; top:200px; left:85px; 
			width:225px; height:250px; 
			/*background-color:blue; opacity:0.5;*/ }

#pop_out a { display:block; position:absolute; top:95px; right:75px; 
			width:45px; height:45px; 
			/*background-color:blue; opacity:0.5; */}





/* Search */
.sea_wrap { display:none; /*z-index:100;*/ position:absolute; top:0; left:0;
			width:100%; height:100%;
			background-color:red; }

span#sea_logo a { z-index:100; display:block; position:absolute;
			top:30px; left:50%; margin-left:-62px; 
			width:125px; height:35px; /*background-color:blue;*/ }

#search, #camera { position:absolute; top:0; left:0;
					width:100%; height:100%; }

#camera { display:none; }

.sea_box { position:absolute; top:0; left:0; 
		width:100%; height:100%;
		/*background-color:red; opacity:0.5;*/ }

.back a { display:block; float:left; margin-top:30px; margin-left:10px;
		width:40px; height:35px; /*background-color:#fff;*/ }

#ticket a { display:block; margin-top:400px; margin-left:10px;
		width:50%; height:55px; /*background-color:red; opacity:0.5;*/ }

#sea_menu a { display:block; float:right; margin-top:30px; margin-right:10px;
		width:40px; height:35px; /*background-color:red;*/ }

#menu_ticket a { display:block; margin-top:320px; margin-left:10px;
		width:50%; height:55px; /*background-color:red; opacity:0.5;*/ }

 






/* List */

#list_slide a { display:block; position:absolute; top:0; left:0; 
			width:100%; height:100%; 
			/*border:1px solid red;*/ }

#list_box a { display:block; position:absolute; top:30px; left:75px; 
			width:240px; height:455px; 
			/*background-color: green;*/ }

#edit a { display:block; position:absolute; top:0; left:0; 
			width:100%; height:100%; 
			/*background-color:red; opacity:0.5;*/ }

#cal a { display:block; position:absolute; top:20px; left:7%; 
			width:86%; height:135px; 
			/*background-color:red; opacity:0.5;*/ }

#rem a { display:block; position:absolute; top:170px; left:7%; 
			width:86%; height:135px; 
			/*background-color:blue; opacity:0.5;*/ }






/* Diary */

#d_list a { display:block; position:absolute; top:0; left:0; 
			width:100%; height:100%; 
			/*background-color:red; opacity:0.5;*/ }

#go_diary a { display:block; position:absolute; top:75px; left:30px;
			width:160px; height:275px; 
			/*background-color:blue; opacity:0.5;*/ }

#play_diary a { display:block; position:absolute; bottom:25px; left:35px; 
			width:325px; height:50px; 
			/*background-color:red; opacity:0.5; */}

#diary_ok a { display:block; position:absolute; bottom:35px; left:35px; 
			width:325px; height:50px; 
			/*background-color:red; opacity:0.5;*/ }



/* My Clay */

#my_slide a { display:block; position:absolute; top:0; left:0; 
			width:100%; height:100%; 
			/*background-color:red; opacity:0.5;*/ }




/* Info */

#info_01 a { display:block; position:absolute; top:0; left:0; 
			width:100%; height:100%;  
			/*background-color:red; opacity:0.5;*/ }